.main {
  display: flex;
  justify-content: center;
  background-image: url('./../assets/banderas-fondo.jpg');
  background-repeat: repeat;
  background-size: 20%; /* tamaño de la imagen */
  background-position: top left;
  width: 100vw; /*para que ocupe el ancho y alto completo*/
  height: 100vh;
  overflow: hidden; /*no se van del borde de la pantalla*/
}

.question{
  display:flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em;
}

.flag {
  width: auto;
  height: 25em;
  object-fit: contain;
  margin-bottom: 3em;
}

.btn{
  width: 15em;
  border: none;
  margin-bottom: 1em;
}

.text{
  background-color:darkslategrey;
  color: whitesmoke;
  padding: 0.5em;
  font-size: xx-large;
  font-weight: 100;
}

.score {
  position: fixed;
  left: 0.5em; 
  padding: 0.5em 1em;
}

.endMessage{
  display: flex;
  flex-direction: column;
  background: darkslategrey;
  color:whitesmoke;
  width: 50em;
  height: 25em;
  margin: 2.5em;
  align-items: center;
  justify-content: center;
}

.gameOver{
  font-size: xx-large;
  font-weight: 100;
}

.endScore{
  font-size: 5em;
  font-weight: 100;
}

.detail {
  font-weight: 100;
}