.main {
  display: flex;
  padding: 3rem;
  min-height: 100vh;
}

.cardPersona {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(202, 129, 20);
}

.cardNombre {
  font-size:x-large;
}

.cardEmail {
  font-size:large;
}


