.layoutColumn {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-height: 100vh;
}

.aboutUs{
  display: flex;
  flex-direction: row;
}

.main {
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-height: 100vh;
}

.title{
  font-size: 5em;
}

.anotherTitle{
  font-size: 3em;
  margin-bottom: 0.5em;
}

.subtitle{
  font-size: 2em;
}

.button{
  margin-top: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  background-color: rgb(237,246,254); /*ver como hacer que no ocupe toda la pantalla*/
  padding-left: 1em;
  padding-right: 1em;
}

.noBullets{
  list-style-type: none;
  font-size:large;
  margin-bottom: 1em;
}

.row{
  display: flex;
  flex-direction: row;
  padding-left: 25%;
  padding-right: 25%;
}

.column{
  flex-direction: column;
  width: 50%;
  margin: 5%;
  align-items: center;
}

/*DIRECTAMENTE COPIADO DEL TP ANTERIOR*/
.cita{
  background-color: aliceblue;
  color: darkblue;
  font-size: medium;
  padding: 5%;
  border-radius: 4px;
  margin-bottom: 5%;
}

.full-width{
  width: 100%;
}

.almost-full-width{
  width: 96%;
}

/* tienen que ser de una clase o id, no una tag 
input, textarea{
  background-color: aliceblue;
  padding: 2%;
  border: none;
  margin-bottom: 5%;
  border-radius: 4px;
}

label{
  color: aliceblue;
  margin-bottom: 10%;
  font-weight: bold;
} */
