.main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;
  min-height: 100vh;
}

.title{
  font-size: 5em;
}

.subtitle{
  font-size: 2em;
}

.button{
  margin-top: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  background-color: rgb(237,246,254); /*ver como hacer que no ocupe toda la pantalla*/
}

