.layout {
  display: flex;
  flex-direction: column;
  padding: 3rem;
  min-height: 100vh;
}

.main {
  justify-content: center;
}

.title{
  font-size: 5em;
}

.subtitle{
  font-size: 2em;
}

.button{
  margin-top: 0.5em;
  font-size: 1.25em;
  font-weight: bold;
  background-color: rgb(237,246,254); /*ver como hacer que no ocupe toda la pantalla*/
  padding-left: 1em;
  padding-right: 1em;
}

.noBullets{
  list-style-type: none;
}